<div id="BHCarouselVideo" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#BHCarouselVideo" data-slide-to="0" class="active"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe src="https://player.vimeo.com/video/139907305" width="100%" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <a href="https://vimeo.com/139907305">BH bread prototype + APM 3.3-dev</a>
      </div>
    </div>
  </div>
</div>
