<footer>
  <a class="navbar-brand" href="mailto:bithollow.feedback@gmail.com?Subject=[bithollow]%20[feedback]">
    <img src="/images/social/email.png" alt="email">
  </a>
  <a class="navbar-brand" href="https://twitter.com/bithollow">
    <img src="/images/social/twitter.png" alt="twitter">
  </a>
  <a class="navbar-brand" href="https://www.facebook.com/bithollow">
    <img src="/images/social/facebook.png" alt="facebook">
  </a>
  <a class="navbar-brand" href="http://www.weibo.com/bithollow">
    <img src="/images/social/weibo.png" alt="weibo">
  </a>
</footer>
