<footer>

  <a class="navbar-brand" href="mailto:bithollow.feedback@gmail.com?Subject=[bithollow]%20[feedback]">
    <img src="/images/social/email-off.png" alt="email" onmouseover="this.src='/images/social/email-on.png'" onmouseout="this.src='/images/social/email-off.png'">
  </a>

  <a class="navbar-brand" href="https://twitter.com/bithollow">
    <img src="/images/social/twitter-off.png" alt="twitter" onmouseover="this.src='/images/social/twitter-on.png'" onmouseout="this.src='/images/social/twitter-off.png'">
  </a>

  <a class="navbar-brand" href="https://www.facebook.com/bithollow">
    <img src="/images/social/facebook-off.png" alt="facebook" onmouseover="this.src='/images/social/facebook-on.png'" onmouseout="this.src='/images/social/facebook-off.png'">
  </a>

  <a class="navbar-brand" href="http://www.weibo.com/bithollow">
    <img src="/images/social/weibo-off.png" alt="weibo" onmouseover="this.src='/images/social/weibo-on.png'" onmouseout="this.src='/images/social/weibo-off.png'">
  </a>

</footer>
