#coverstory.jumbotron {
    position: relative;
    background: #000 url("/images/img_cover_story.jpg") no-repeat center center;
    background-size: cover;
    height: 30vw;
    overflow: hidden;
}

#home-row.jumbotron {
    position: relative;
    padding: 1em 0em;
}

#document-list {
    position: relative;
    width: 100%;
    height: calc(100vh - 7.5em);
    border: none;
 }

#document-view {
    position: relative;
    width: 100%;
    height: calc(100vh - 7.5em);
    border: none;
}

#blog-row {
    margin:0;
    padding-top:1em;
    padding-left:8em;
}

.center-image {
    margin: 0 auto;
    display: block;
}

.small-image {
    position: relative;
    width: 30%;
}

.medium-image {
    position: relative;
    width: 60%;
}

.large-image {
    position: relative;
    width: 90%;
}
