#coverstory.jumbotron {
    position: relative;
    background: #000 url("../images/img_cover_story.jpg") no-repeat center center;
    background-size: cover;
    height: 30vw;
    overflow: hidden;
}

#home-row.jumbotron {
    position: relative;
    padding: 1em 0em;
}

#document-list {
    position: relative;
    width: 100%;
    height: calc(100vh - 6em);
    border: none;
}

#document-view {
    position: relative;
    width: 100%;
    height: calc(100vh - 6em);
    border: none;
}
